[submodule "src/smithlab_cpp"]
	path = src/smithlab_cpp
	url = https://github.com/smithlabcode/smithlab_cpp
	ignore = dirty
[submodule "src/abismal"]
	path = src/abismal
	url = https://github.com/smithlabcode/abismal
	ignore = dirty
[submodule "src/bamxx"]
	path = src/bamxx
	url = https://github.com/smithlabcode/bamxx
	ignore = dirty
